<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
  	<h1>Detailed View for <%=student[0].students.first %> <%=student[0].students.last %></h1>
  </header>
  <body>
  </body>
</html>
